In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df_ss2 = pd.read_csv("C.C.C SS3 Assignment scores (2023-10-01 to 2023-10-31).csv")
df_ss2 = pd.DataFrame(df_ss2)
print(len(df_ss2.columns))

64

In [95]:
#Check for empty elements

nvc = pd.DataFrame(df_ss2.isnull().sum().sort_values(), columns=['Total Null Values'])
nvc['Percentage'] = round(nvc['Total Null Values']/df_ss2.shape[0],3)*100
print(nvc)

                                                    Total Null Values  \
Exercise: Pronoun-antecedent agreement                              0
Video: Run-ons and comma splices                                    0
Video: Why we do the same thing to both sides: ...                  0
Video: Intro to equations with variables on bot...                  0
Video: Equations with variables on both sides: ...                  0
...                                                               ...
Exercise: Recognizing run-ons and comma splices                     0
Article: Evaluating expressions with one variable                   0
Percent completed                                                   1
Average score                                                       1
Student name                                                        1

                                                    Percentage
Exercise: Pronoun-antecedent agreement                     0.0
Video: Run-ons and comma splices                           0.0
Video: Why we do the same thing to both sides: ...         0.0
Video: Intro to equations with variables on bot...         0.0
Video: Equations with variables on both sides: ...         0.0
...                                                        ...
Exercise: Recognizing run-ons and comma splices            0.0
Article: Evaluating expressions with one variable          0.0
Percent completed                                          4.8
Average score                                              4.8
Student name                                               4.8

[64 rows x 2 columns]

In [5]:
#filtered_columns = [col for col in df.columns if not col.startswith("Video")]
#print(filtered_columns)
filtered_columns = df_ss2.filter(like="Video", axis=1).columns
df_ss2 = df_ss2.drop(columns=filtered_columns)
ff = df_ss2.filter(like="Article", axis=1).columns
df_ss2 = df_ss2.drop(columns=ff)
df_ss2.iloc[0] = df_ss2.iloc[0,:].str.replace("Due ", "")

In [6]:
#cols = [col for col in df_ss2.columns if not col.startswith(["Student name","Average score", ""])]
#cols = cols[2:]
# Transpose the DataFrame using swapaxes
#transposed_df = df.swapaxes(0, 1)

#df_ss = df_ss2.set_index("Student name")
#df_ss = df_ss.transpose()
df_ss = df_ss2.drop(columns= ["Average score", "Percent completed"])
df_ss["Student name"] = df_ss["Student name"].fillna("Date")
df_ss = df_ss.set_index("Student name")
df_ss = df_ss.transpose()

In [7]:

for col in df_ss.columns:
    df_ss[col].replace(["\t--", "Not started"], 0, inplace=True)

In [8]:
dt= df_ss.copy()
dtt = dt.columns[1:]

In [9]:
dt[dtt] = dt[dtt].apply(pd.to_numeric, errors='ignore')

In [10]:
dt.dtypes

Student name
Date                    object
abasiamaudo006           int64
archibongbenedicta50     int64
archibongp20             int64
cyrilmiracle055          int64
edidiong bassey          int64
farchibong9              int64
florenceumoh22           int64
francisgodsgift5         int64
goodnewsrobin2404        int64
GRACE UMOH               int64
jita8550                 int64
joannasunday360          int64
josephinejetim           int64
kini  ubong              int64
okond9288                int64
prosperusoro92           int64
Rejoice Effiong          int64
udohappiness439          int64
Victory Effiong          int64
victoryb454              int64
dtype: object

In [15]:
df_new = dt.groupby("Date").sum().T
df_new['Days_Absent'] = (df_new == 0).sum(axis=1)
df_new["Days_Present"] = (df_new != 0).sum(axis=1)
df_new["Total_sum"] = df_new.sum(axis=1)
df_ss2.head()

,Student name,Average score,Percent completed,Exercise: Introduction to colons,Exercise: Introduction to semicolons,Exercise: Using semicolons and commas,Exercise: Using semicolons and colons,"Quiz: Punctuation: the colon, semicolon, and more: Quiz 1","Exercise: Italics, underlines, and quotation marks",Exercise: Introduction to parentheses,...,Exercise: Reasoning with linear equations,Quiz: Solving equations & inequalities: Quiz 1,Exercise: Dangling modifiers,Exercise: Parallel structure,Unit Test: Syntax: conventions of standard English: Unit test,Exercise: Evaluating expressions with multiple variables: fractions & decimals,Quiz: Algebra foundations: Quiz 1,Exercise: Frequently confused words: affect/effect,Exercise: Frequently confused words: here/hear,Exercise: Frequently confused words: there/their/they're
0,NaN,NaN,NaN,2023-10-17,2023-10-17,2023-10-17,2023-10-17,2023-10-17,2023-10-19,2023-10-19,...,2023-10-26,2023-10-26,2023-10-26,2023-10-26,2023-10-26,2023-10-30,2023-10-30,2023-10-31,2023-10-31,2023-10-31
1,abasiamaudo006,98.0,66.0,100,100,100,100,100,100,100,...,100,40,100,100,Not started,100,100,100,100,100
2,archibongbenedicta50,82.0,62.0,100,100,75,100,80,100,100,...,100,40,50,75,70,50,60,100,100,100
3,archibongp20,90.0,50.0,\t--,\t--,\t--,\t--,\t--,\t--,\t--,...,Not started,Not started,100,50,70,100,80,100,100,100
4,cyrilmiracle055,90.0,69.0,100,100,100,100,80,50,100,...,50,Not started,75,100,90,75,100,100,100,100